build-*
*.user
release/
release64/
release_x64/
debug/
temp/
.vs/
*.pyc
*.DS_Store
*.aps
installer/windows/tests_output.log
installer/windows/temp-tests/*
installer/mac/installer/installer/temp_Info.plist
test-exe/*
drawings/*/*.png
tools/.idea/
build/
.vscode/

# secrets
tools/notarize.yml
client/common/utils/hardcodedsecrets.ini
client/common/keys/linux/key.pem
client/common/keys/linux/key.pub
client/common/keys/linux/key_pub.txt
installer/windows/signing/code_signing.pfx
backend/mac/provisioning_profile/
