mac/Binaries
*.DS_Store
*.sln

windows/installer/Debug/*
windows/installer/Release/*
windows/installer/x64/*
windows/temp-installer/*
windows/uninstaller/x64/*
windows/installer/.vs/*
windows/uninstaller/.vs/*
windows/builds/*
windows/InstallerFiles/*
windows/signing/*.pfx
*.user
*.7z
