<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>@WS_MAC_SPLIT_TUNNEL_BUNDLE_ID@</string>
    <key>CFBundleIdentifier</key>
    <string>@WS_MAC_SPLIT_TUNNEL_BUNDLE_ID@</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>@WS_PRODUCT_NAME@ Split Tunnel Extension</string>
    <key>CFBundlePackageType</key>
    <string>SYSX</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.10</string>
    <key>CFBundleVersion</key>
    <string>1.0.10</string>
    <key>LSMinimumSystemVersion</key>
    <string>13</string>
    <key>NetworkExtension</key>
    <dict>
        <key>NEProviderClasses</key>
        <dict>
            <key>com.apple.networkextension.app-proxy</key>
            <string>TransparentProxyProvider</string>
        </dict>
    </dict>
    <key>NSSystemExtensionUsageDescription</key>
    <string>This extension enables split tunneling functionality.</string>
</dict>
</plist>
