<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>com.windscribe.client.splittunnelextension</string>
    <key>CFBundleIdentifier</key>
    <string>com.windscribe.client.splittunnelextension</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Windscribe Split Tunnel Extension</string>
    <key>CFBundlePackageType</key>
    <string>SYSX</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.7</string>
    <key>CFBundleVersion</key>
    <string>1.0.7</string>
    <key>LSMinimumSystemVersion</key>
    <string>12</string>
    <key>NetworkExtension</key>
    <dict>
        <key>NEProviderClasses</key>
        <dict>
            <key>com.apple.networkextension.app-proxy</key>
            <string>TransparentProxyProvider</string>
        </dict>
    </dict>
    <key>NSSystemExtensionUsageDescription</key>
    <string>This extension enables split tunneling functionality.</string>
</dict>
</plist>
