<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<dict>
		<key>identifier</key>
		<string>Configuration.C43D5B6C-1247-4734-A732-98FE0B18C16B</string>
		<key>options</key>
		<dict>
			<key>layoutIdentifier</key>
			<string>Layout.81619C11-71CD-474E-B762-6F8CC9A0F167</string>
			<key>promptsForDestinationFolder</key>
			<false/>
			<key>segmentSize</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>documentCreator</key>
	<string>DropDMG 3.5.6</string>
	<key>documentType</key>
	<string>com.c-command.DropDMG.Configuration</string>
	<key>formatVersion</key>
	<integer>1</integer>
</dict>
</plist>
