/* SPDX-License-Identifier: GPL-2.0
 *
 * Copyright (C) 2018-2020 WireGuard LLC. All Rights Reserved.
 */

#include <windows.h>
#include <ntverp.h>

wintun.cat RCDATA "wintun\\wintun.cat"
wintun.inf RCDATA "wintun\\wintun.inf"
wintun.sys RCDATA "wintun\\wintun.sys"

#ifdef HAVE_WHQL
wintun-whql.cat RCDATA "whql\\wintun.cat"
wintun-whql.inf RCDATA "whql\\wintun.inf"
wintun-whql.sys RCDATA "whql\\wintun.sys"
#endif

#if defined(_M_IX86)
wintun-amd64.dll RCDATA "amd64\\wintun.dll"
#endif
#if defined(_M_IX86) || defined(_M_AMD64) || defined(_M_ARM)
wintun-arm64.dll RCDATA "arm64\\wintun.dll"
#endif

#define STRINGIZE(x) #x
#define EXPAND(x) STRINGIZE(x)

VS_VERSION_INFO VERSIONINFO
FILEVERSION    WINTUN_VERSION_MAJ, WINTUN_VERSION_MIN, 0, 0
PRODUCTVERSION WINTUN_VERSION_MAJ, WINTUN_VERSION_MIN, 0, 0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_DLL
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "WireGuard LLC"
      VALUE "FileDescription", "Wintun API Library"
      VALUE "FileVersion", EXPAND(WINTUN_VERSION_STR)
      VALUE "InternalName", "wintun.dll"
      VALUE "LegalCopyright", "Copyright \xa9 2018-2020 WireGuard LLC. All Rights Reserved."
      VALUE "OriginalFilename", "wintun.dll"
      VALUE "ProductName", "Wintun Driver"
      VALUE "ProductVersion", EXPAND(WINTUN_VERSION_STR)
      VALUE "Comments", "https://www.wintun.net/"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
