<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>@WS_PRODUCT_NAME@</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIconFile</key>
    <string>@WS_MAC_ICON_FILE@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>@WS_OUTPUT_PREFIX@</string>
    <key>CFBundleIdentifier</key>
    <string>@WS_MAC_GUI_BUNDLE_ID@</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleVersion</key>
    <string>@WS_VERSION_MAJOR@.@WS_VERSION_MINOR@.@WS_VERSION_BUILD@</string>
    <key>CFBundleName</key>
    <string>@WS_PRODUCT_NAME@</string>
    <key>CFBundleShortVersionString</key>
    <string>@WS_VERSION_MAJOR@.@WS_VERSION_MINOR@.@WS_VERSION_BUILD@</string>
    <key>NSHumanReadableCopyright</key>
    <string>@WS_COPYRIGHT@</string>
    <key>LSMinimumSystemVersion</key>
        <string>13</string>
    <key>SMPrivilegedExecutables</key>
    <dict>
        <key>@WS_MAC_HELPER_BUNDLE_ID@</key>
        <string>anchor apple generic and identifier &quot;@WS_MAC_HELPER_BUNDLE_ID@&quot; and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = @DEVELOPMENT_TEAM@)</string>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>@WS_PRODUCT_NAME@ requires Location permission to access your Wi-Fi SSID.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>@WS_PRODUCT_NAME@ requires Location permission to access your Wi-Fi SSID.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>@WS_PRODUCT_NAME@ requires Location permission to access your Wi-Fi SSID.</string>
    <key>NSLocationUsageDescription</key>
    <string>@WS_PRODUCT_NAME@ requires Location permission to access your Wi-Fi SSID.</string>
    <key>com.apple.developer.networking.networkextension</key>
    <array>
        <string>app-proxy-provider-systemextension</string>
    </array>
    <key>SMLoginItemRegisteredByApp</key>
    <array>
        <string>@WS_MAC_LAUNCHER_BUNDLE_ID@</string>
    </array>
</dict>
</plist>
