<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.windscribe.helper.macos</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>WindscribeHelper</string>
    <key>CFBundleVersion</key>
    <string>109</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Windscribe Limited. All rights reserved.</string>
    <key>LSMinimumSystemVersion</key>
        <string>12</string>
    <key>SMAuthorizedClients</key>
    <array>
        <string>identifier &quot;com.windscribe.client&quot; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = @DEVELOPMENT_TEAM@</string>
        <string>identifier &quot;com.windscribe.installer.macos&quot; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = @DEVELOPMENT_TEAM@</string>
    </array>
</dict>
</plist>
