<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>@WS_MAC_HELPER_BUNDLE_ID@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>@WS_APP_IDENTIFIER@Helper</string>
	<key>CFBundleVersion</key>
	<string>116</string>
	<key>NSHumanReadableCopyright</key>
	<string>@WS_COPYRIGHT@</string>
	<key>LSMinimumSystemVersion</key>
	<string>13</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;@WS_MAC_GUI_BUNDLE_ID@&quot; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = @DEVELOPMENT_TEAM@</string>
		<string>identifier &quot;@WS_MAC_INSTALLER_BUNDLE_ID@&quot; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = @DEVELOPMENT_TEAM@</string>
	</array>
</dict>
</plist>
